@model List<ZavenDotNetInterview.Database.Entities.Job>

@{
    ViewBag.Title = "Index";
}

<h2>List of jobs</h2>
<div class="row buttons-container">
    <div class="col-sm-6">
        @Html.ActionLink("Create New Job", "Create", null, new { @class = "btn btn-success" })
    </div>
    <div class="col-sm-6">
        @Html.ActionLink("Process Jobs", "Process", null, new { @class = "btn btn-success" })
    </div>
</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Creation Date")
        </th>
        <th></th>
    </tr>

    @foreach (var job in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => job.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.CreationDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { jobId = job.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>